html {
    scroll-behavior: smooth;
}

body {
    background-color: #171F38;
    color: #fff;
}

.gradiant-text {
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
    overflow: hidden;
    border-right: 2px solid #fff;
    text-wrap: nowrap;
    display: inline-block;
    width: max-content; /* Default width */
    width: 0; /* Default width */
}

/* Default keyframes for small devices */
@keyframes typing-text-small {
    from {
        width: 0%;
    } 
    to {
        width: 90%;
    }
}

/* Keyframes for medium devices and above */
@keyframes typing-text-medium {
    from {
        width: 0%;
    } 
    to {
        width: 450px;
    }
}

/* Media Query for small devices */
@media (max-width: 767px) {
    .gradiant-text {
        animation: typing-text-small steps(30) 3s infinite, blink ease 0.3s infinite;
    }
}

/* Media Query for medium devices and above */
@media (min-width: 768px) {
    .gradiant-text {
        animation: typing-text-medium steps(40) 3s infinite, blink ease 0.3s infinite;
    }
}

/* Add these styles to your existing App.css file */
